/* Pseudo-selector esta propiedad no existe en html pero se puede usar
las propiedades dentro de este */
:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

/* Truco CSS para ajustar medidas rem */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
}

/* 1 rem es igual a 10px */
.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: var(--oscuro)
}
.titulo span {
    font-size: 2rem;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.nav-bg {
    background-color: var(--secundario)
}
.navegacion-principal {
    display: flex;
    flex-direction: column;
}
@media (min-width: 480px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
    padding: 20px;
}
