:root {
    --blanco: #ffffff;
    --negro: #000000;
    --primario: #006ace;
    --secundario: #6c757d;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Special Gothic', sans-serif;
}
.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color:var(--primario);

}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--secundario);
    color: var(--negro);
}